html,body{
    height: 100%;
}

.hero {
    background-image: url(../images/rectangle.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
   
}

.navbar{
    padding-left: 53px;
    padding-top: 20px;
}

a.navbar-brand{
    padding-right: 50px;
}

a.nav-link, span.navbar-text{
    color: white;
}

span.navbar-text{
    padding-left: 150px;
    font-size: small;
}

div#heroText.col-sm-6{
    padding-top: 300px;
    color: white;
}
div#heroImage.col-sm-6{
    padding-top: 230px;
    padding-left:400px
    
}

button.btn.default{
    margin-top: 90px;
    padding: 15px 70px;
    background-color: white;
    font-size: small;
    border-radius: 0%;
}


div#myBorder.container{
    border-right-style: solid;
    border-color: white;
    border-right-width: 2px;
    padding-top: 300px;
    
}
.mainBlack{
   color: #767676;
  
}

.mainBlue{
    color: #0B094F;
}

div#mainOne.col-sm-6{
    padding-top: 180px;
    padding-bottom: 200px;
    padding-left: 50px;
}

div#mainTwo.col-sm-6{
    padding-top: 300px;
    padding-right: 50px;
    padding-bottom: 200px;
}

a.mainBlue{
    padding-left: 350px;
}

div#mainThree.col-sm-6{
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
}
div#mainFour.col-sm-6{
    padding-bottom: 100px;
}
