html,body{
    height: 100%;
    
}

.hero {
    background-image: url(../images/rectangle.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
   
}

.navbar{
    padding-left: 6%;
    padding-top: 1%;
}

div.logoNav{
    margin-right: 10%;
}

/* a.navbar-brand{
   margin-right: 60px;
   
} */

a.nav-link, span.navbar-text{
    color: white;
}

span.navbar-text{
    padding-left: 12%;
    font-size: 10px;
}

div#heroText.col-lg-6.md-12.sm-12{
    margin-top: 20%;
    color: white;
}
div#heroImage.col-lg-6.md-12.sm-12{
    margin-top:  10%;
    padding-left:35%
    
}
div#iconsFix{
    margin-left: 50%;

}

button.btn.default{
    margin-top: 10%;
    padding: 4% 13%;
    background-color: white;
    font-size: small;
    border-radius: 0%;
}


div#myBorder.container{
    border-right-style: solid;
    border-color: white;
    border-right-width: 2px;
    padding-top: 250%;
    
}
.mainBlack{
   color: #767676;
  
}

.mainBlue{
    color: #0B094F;
}

div#mainOne.col-lg-6.md-12.sm-12{
    margin-top: 15%;
    margin-bottom: 28%;
    padding-left: 5%;
}

div#mainTwo.col-lg-6.md-12.sm-12{
    margin-top: 25%;
    padding-right: 5%;
    margin-bottom: 24%;
}

a.mainBlue{
    padding-left:75%;
}

div#mainThree.col-lg-6.md-12.sm-12{
    padding-left: 5%;
    padding-right: 4.5%;
    margin-top: 5%;
    margin-bottom: 10%;
}
div#mainFour.col-lg-6.md-12.sm-12{
    margin-bottom: 10%;
}

div#mainFive{
    text-align: center;
    margin-bottom: 10%;
}
div#mainSeven.col-lg-4.md-12.sm-12 {
    margin-top: 30%;
}
h3{
    margin-bottom: 2%;
}

.spaceOut{
    margin-bottom: 8%;
}
button.arrowBtn{
    background-color: #cecece;
    width: 40px;
    height: 40px;
    margin-top: 5%;
    border:none
    
}
#alignBtn{
    margin-left: 55%;
}

section.maskFour{
    background-color: #cecece;
    margin-top: -8%;
    padding-bottom: 7%;
    
    
}

div#mainNine.col-lg-6.md-12.sm-12{
    margin-top: 43%;
    padding-bottom: 10%;
    
    
}

div#mainTen.col-lg-6.md-12.sm-12{
    margin-top: 23%;
    

}

.huge{
    font-size: 30px;
    font-family: lato;
}
#huge2K{
    font-size: 150px;
  
}


#fontsOne{
    margin-bottom: -5%;
    margin-top: 10%;

}

#fontsTwo{
    margin-top: -5%;
    margin-bottom: 10%;

}
#primevalLogo{
    padding-left: 9%;
    padding-top: 30%;

}

#dixxonsLogo{
    padding-top: 30%;
}

#kinnoLogo{
    padding-top: 38%;

}

#afconLogo{
    padding-top: 10%;

}

#churchLogo{
    padding-left: 25%;
    padding-top: 5%;

}

#miifLogo{
    padding-left: 15%;

}

#mhoseenLogo{
    padding-top: 20%;
    padding-left: 13%;

}

#funLogo{
    padding-left: 25%;

}

#burgerLogo{
    padding-left: 15%;

}

section.maskSix{
    padding-bottom: 20%;
}
#secondLineLogo{
    margin-top: 5%;
}
footer{
    background-color: #2A2865;
    
}
#pageEnd{
    margin-top: 1.5%;
}

.infoLast{
    margin-top: 2%;
}
#hrLine{
    border-top: 1px solid #ffffff;
}

.spaceBelow{
    margin-bottom: 10%;
}

.linkSpaceTop{
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.linkColor{
    
    color: white;

}
.imageSpace{
    margin-top: 1.5%;
    margin-bottom: 1.5%;

}
.aboutHero {
    background-image: url(../images/dog.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
   
}

.aboutMask{
    margin-top: 15%;
    margin-bottom: 15%;
}

/* media tablet */
@media screen and (max-width: 768px) {
    div#heroText.col-lg-6.md-12.sm-12{
        font-size: 25px;
        
    }

    div#heroText.col-lg-6.md-12.sm-12{
        margin-top: 350px;
        color: white;
    }

    div#heroImage.col-lg-6.md-12.sm-12{
        display: none;
    }
    div.col-sm-3{
        display:none
    }


    button.btn.default{
    display: none;

    }

    div#mainOne.col-lg-6.md-12.sm-12 {
        margin-top: 80px;
        margin-bottom: 25px;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;
        font-weight: 700;
      
    }

    div#mainTwo.col-lg-6.md-12.sm-12 {
        margin-top: 40px;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;
        font-size: 25px;
        font-weight: 700;

    }

    div#mainThree.col-lg-6.md-12.sm-12{
        text-align: center;
        font-size: 25px;
        font-weight:700

    }

    div#mainFour.col-lg-6.md-12.sm-12{
        
    }

    div#mainFive.col-lg-6.md-12.sm-12{
        margin-top:50px

    }

    h3.mainBlack{
        margin-top: 30px
        font-weight: 700
    }

    p.mainBlack.spaceOut{
        font-size: 25px;
        font-weight: 700;
    }

    div#mainSeven.col-lg-4.md-12.sm-12{
        margin-top: 90px;
    }

    div#mainEight.col-lg-4.md-12.sm-12{
        margin-top: 90px;
        margin-bottom: 90px;
    }

    div#mainNine.col-lg-6.md-12.sm-12{
        margin-top: 100px

    }

    p.mainBlue{
        font-size: 25px;
        font-weight: 700;
    }

    p.mainBlack{
        font-size: 25px;
        font-weight: 700;
    }
    
    div#mainTen.col-lg-6.md-12.sm-12{
        margin-top: 0%;
        

    }

    #primevalLogo{
        padding-left: 40px;
    }







   


    
    

}


/* media phone */
@media screen and (max-width:480px){
    div#heroImage.col-lg-6.md-12.sm-12{
        display: none;
    }

    button.btn.default{
        display: none;
        
        }



}
